@model Taxi_app.Models.Ride

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ride</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Driver.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndLocation.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndLocation.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passenger.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passenger.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartLocation.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartLocation.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
