@model IEnumerable<Taxi_app.Models.Ride>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Driver.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndLocation.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Passenger.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartLocation.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Driver.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndLocation.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Passenger.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartLocation.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
